.gradient {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 12%,
    transparent 102%
  );
  width: 100%;
  position: fixed;
  width: 100%;
  height: 5vw;
  position: fixed;
  background-color: black;
  z-index: 4;
}

.navbar {
  display: flex;
  width: 92vw;
  position: fixed;
  padding: 0px 46px;
  z-index: 5;
  background-color: transparent;
  align-items: center;
  height: 5vw;
  transition: background-color 0.4s;
}

.navDark {
  background-color: rgb(20, 20, 20);
}

.activeLink {
  font-weight: 600;
}

.navbar ul {
  margin-left: 3.6vw;
  padding: 0px;
}

.navbar ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 2px 0.7vw;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.4s ease-in;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #c2b0b0;
}
.navbar img {
  height: 28px;
  object-fit: contain;
}

.navbar div i {
  font-size: 1.7vw;
}

.accounts {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.9vw;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
}
.accounts img {
  height: 32px;
  object-fit: contain;
  border-radius: 5px;
  vertical-align: top;
}

/* custom select */
.container {
  max-height: 30px;
}

.selectBox {
  display: flex;
  height: fit-content;
  flex-direction: column;
}

.optionsContainer {
  background-color: black;
  margin: 15px 0px;
  padding: 10px 0px;
  width: 100%;
  transition: all 0.4s;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  border-radius: 4px;
}

.option button {
  color: white;
  background-color: transparent;
  border: none;
}
.option button:hover {
  text-decoration: underline;
}

.selectActive {
  max-height: 50px;
  opacity: 1;
}

.option {
  padding: 10px;
}

.selected {
  height: 30px;
  width: 60px;
  pointer-events: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
.selected p {
  font-size: 22px;
  height: 22px;
  width: 13px;
  display: inline-block;
  transform: rotate(90deg);
  pointer-events: none;
  transition: all 0.4s;
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
  .gradient {
    width: 90vw;
    height: 8vw;
  }
  .navbar {
    width: 90vw;
    height: 8vw;
  }
  .navbar img {
    height: 25px;
  }
  .navbar ul li {
    font-size: 10px;
  }
}

@media only screen and (max-width: 640px) {
  .gradient {
    height: 8vw;
  }
  .navbar {
    padding: 0px 13px;
    height: 8vw;
  }
  .navbar img {
    height: 17px;
  }
  .navbar ul li {
    font-size: 10px;
  }
}
