.banner {
  color: white;
  height: 58vw;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 71%, transparent 88%);
}

.bannerData {
  /* position: absolute; */
  /* top: 13vw;
  left: 4vw; */
  width: 37rem;

  display: inline-block;
  width: 25vw;
  margin-top: 13vw;
  margin-left: 4vw;
}

.bannerData h1 {
  font-size: 3vw;
  width: 40vw;
}
.bannerData p {
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding: 1vw 0px;
  font-size: 1.4vw;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.banner img {
  object-fit: cover;
  width: 100vw;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, transparent 99%);
}

.bannerButton button {
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5vw 0px;
  padding-left: 1.5vw;
  padding-right: 2.4vw;
  margin-right: 1.5vw;
  font-size: 1.2vw;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: rgb(93 87 87 / 79%);
}

.bannerButton button:hover {
  filter: brightness(0.8);
}

.bannerButton button i {
  font-style: normal;
  font-size: 2vw;
  padding-right: 10px;
  vertical-align: middle;
}
