.row {
  margin-left: 4vw;
  transition: all 0.2s ease;
}
.row h1 {
  cursor: pointer;
  font-size: 1.7vw;
  margin: 0px;
}
.rowPosters {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  padding: 10px 0px;
  z-index: 1;
}

.rowPosters::-webkit-scrollbar {
  display: none;
}
.rowContent {
  display: flex;
  align-items: center;
}
.rowContent button {
  height: 10vw;
  padding: 1vw;
  position: absolute;
  font-size: xxx-large;
  border: none;
  background-color: transparent;
  color: transparent;
  z-index: 5;
}
.rowContent button:hover {
  background-color: #5f62612b;
  color: white;
}
.rowPoster {
  object-fit: contain;
  width: 100%;
  height: 10.3vw;
  margin: 5px;
  transition: transform 0.5s;
  border-radius: 4px;
}

.rowPosterTrending {
  height: 16rem;
  object-fit: contain;
  height: 15vw;
}

.rowPoster:hover {
  transform: scale(1.08);
}
.rowPosterTrending:hover {
  transform: scale(1.09);
}
