.signupPass {
  background-color: white;
}

.signupPassNav {
  border: 1px solid #80808042;
  display: flex;
  align-items: center;
}
.signupPassNav img {
  object-fit: cover;
  height: 3.5vw;
  padding: 1.5vw 3vw;
}
.signupPassNav a {
  padding: 0.6vw 1vw;
  color: black;
  margin: 1vw;
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  margin-left: auto;
}

.signupbox {
  background-color: white;
  color: #000000c9;
  border-radius: 4px;
  margin: 0px 34% 64px;
  padding: 66px 0px;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.signupbox p {
  padding: 19px 0px;
  width: 386px;
}

.signupbox input {
  display: block;
  width: -webkit-fill-available;
  padding: 17px 10px;
  font-size: 18px;
  margin: 22px 0px;
  border: 1px solid #0000006e;
  outline: none;
}
.signupbox a {
  display: block;
  text-decoration: none;
  color: #0000ffc2;
}

.signupbox button {
  min-height: 59px;
  font-weight: 500;
  font-size: 24px;
  border-radius: 4px;
  border: none;
  width: -webkit-fill-available;
  background-color: red;
  color: white;
  margin: 22px 0px;
}

.bottom {
  color: #737373;
  padding: 37px 154px;
  background-color: #f3f3f3;
}

.bottom select {
  padding: 0.6vw 1vw;
  color: #737373;
  border-radius: 4px;
  margin: 23px 0px;
  font-size: 1.1vw;
  border: 1px solid #333;
}

.bottom div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 160px;
  row-gap: 18px;
  font-size: 14px;
  margin: 23px 0px;
}
.bottom div span {
  width: 137px;
}
